.deleteAllDiv{
    display: flex;
    justify-content: center;
    /* margin-right: 11.2rem; */
}

.posterGrid{
    display: flex;
    justify-content: space-between;
    
}
.posterGridWrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 0px!important;
}

.posterItems{
    flex: 1;
    align-self: center;
}

#keyDiv{
    width: "18rem";
    margin-bottom: 2rem;
}

.navLogo{
    width: 5rem;
    margin-right: .7rem;
}

.logInLogo{
    width: 20rem;
    margin-bottom: 1.5rem;

}

#signUpComponent{
    background-image: url("../static/logo.jpeg") !important;
}
