body{
    background-color:azure
}

nav{
    align-items: center;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
}

.deleteAllDiv{
    display: flex;
    justify-content: center;
    /* margin-right: 11.2rem; */
}

.cartNav{
    margin-right: .5rem;
}

.posterGrid{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    
}
.posterGridWrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 0px!important;
}

.posterItems{
    flex: 1;
    align-self: center;
}

.addToCartDiv{
    display: flex;
    justify-content: center;
}

*{
    font-family: monospace!important;
    /* font-weight: bold; */
}

.card-body{
    /* padding-bottom: 0px; */
    /* padding-right: 0px; */
}


#keyDiv{
    width: "18rem";
    margin-bottom: 2rem;
}

.navLogo{
    width: 5rem;
    margin-right: .7rem;
}

.logInLogo{
    width: 40rem;
    margin-bottom: 1.5rem;

}

#signUpComponent{
    background-image: url("../static/logo.jpeg") !important;
}

.alignRight {
	float: right!important;
}

.alignLeft {
    float: left!important;
}