.deleteAllDiv{
    display: flex;
    justify-content: center;
    /* margin-right: 11.2rem; */
}

.posterGrid{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

.posterItems{
    flex: 1;
    align-self: center;
}

.navLogo{
    width: 5rem
}

.logInLogo{
    width: 3rem;

}
